body {
    background-color: #ecf0f1;
}
h1 {
    color: #34495e;
    
    /* 이 코드가 뭘 의미하는지 모르겠넹 떼잉,, */
    transition: color 0.5s ease-in-out;
}

/* 클래스 생성: js 파일에서 클래스로 저장하지! */
.clicked {
    color: #7f8c8d
}